<article class="listItem">
	<a href="{{url}}" class="listItem-figure">
		<img class="listItem-image" src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
	</a>
	<div class="listItem-body">
		<div class="listItem-content">
			<div class="listItem-details">
				<h4 class="listItem-title">
					<a href="{{url}}">{{name}}</a>
				</h4>
				{{#if show_rating}}
					<p class="listItem-rating">{{> components/products/ratings rating=rating}}</p>
				{{/if}}
				{{#if price}}
					<div class="listItem-price">{{> components/products/price price=price}}</div>
				{{/if}}
			</div>
		</div>
	</div>
</article>
