<div class="productView__collapse-container">
        <a href="##" class="productView__collapse-menu" data-collapsible="productView__collapse-shipping-info"
            aria-controls="productView__collapse-account" aria-expanded="false">
            <p class="productView__collapse-title">SHIPPING INFORMATION</p>
    
            <span class="productView__nav-menu-plus icon icon--add">
                <svg class="productView__nav-plus">
                    <use xlink:href="#icon-add"></use>
                </svg>
            </span>
    
            <span class="icon icon--remove productView__nav-menu-minus">
                <svg class="productView__nav-minus">
                    <use xlink:href="#icon-remove"></use>
                </svg>
            </span>
        </a>
    
        <div class="productView__collapse-list productView__collapse-item productView__collapse-content" id="productView__collapse-shipping-info"
            aria-hidden="true">
                <div class="productView-description productView__collapse-content-item">
                            {{{lang 'custom.shipping-info-text'}}}
                </div>
            </div>
    </div>
