
<a href="##" class="size-guide-link" data-reveal-id="size-guide-link">{{lang 'custom.view-size-guide'}}</a>
    
    
    <div id="size-guide-link" class="modal modal--large size-guide-modal" data-reveal>
        <div class="modal-header">
            <h2 class="modal-header-title">Size Guide</h2>
            <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
                <span aria-hidden="true">&#215;</span>
            </a>
        </div>
        <div class="modal-body">
            <img class="lazyload size-guide-image" data-src="{{cdn 'webdav:/images/default-size-guide.png'}}" src="{{cdn 'img/loading.svg'}}" alt="size guide">
        </div>
    </div>
   
