// =============================================================================
// IntuitSolutions.net - Variables
// =============================================================================

$heading-font-color: stencilColor("color-textBase");
$text-text-font-color: stencilColor("color-textBase");
$link-font-color: stencilColor("color-textBase");
$link-font-color--hover: stencilColor("color-textBase--hover");

$font-color__heading: stencilColor("color-textBase");
$font-color__text: stencilColor("color-textBase");
$font-color__link: stencilColor("color-textBase");
$font-color__link--hover: stencilColor("color-textBase--hover");
